* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --white:#fff;
  --titlePrimary:#1C1410;
  --background:#F1F1F1;
  --secundary:#E5E5E5;
  --gray: #E9E9E9;
  --gray-line:#D0D0D0;
  --gray-dark-1: #797373;
  --gray-dark-2:#3D3D3D;
  --green-light:#04d361;
  --overlay: rgba(0, 0, 0, 0.823);
  --text-highlight:#b3b9ff;
  --red:#CF1317;
  --darkRed:#9B0A0D;
}